body{
    background: rgb(26, 26, 26);
    font-family: 'Roboto', sans-serif;
}
#videoPlayerCont{
    position: relative;
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    overflow: hidden;
}

#videoPlayer{
    width: 100%;
    height: 100%;
    z-index: 1;
}
#video-controls{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
#bot-bar{
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: 0%;
    background: transparent;
    display: flex;
    justify-content: center;
}
#buttons-bar{
    width: 100%;
    display: flex;
    align-items: center;
}
button{
    background: transparent;
    border: none;
    padding: 0%;
    line-height: 0;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}
button:hover {
    transform: scale(1.15);
 }
.svg path{
    transition: d .2s ease-in-out;
}

#playpause[data-state="pause"] path{
    d: path('M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z');
}
#fullscreen[data-state="full"] #p0{
    d: path('m 14,14 -4,0 0,2 6,0 0,-6 -2,0 0,4 0,0 z');
}
#fullscreen[data-state="full"] #p1{
    d: path('m 22,14 0,-4 -2,0 0,6 6,0 0,-2 -4,0 0,0 z');
}
#fullscreen[data-state="full"] #p2{
    d: path('m 20,26 2,0 0,-4 4,0 0,-2 -6,0 0,6 0,0 z');
}
#fullscreen[data-state="full"] #p3{
    d: path('m 10,22 4,0 0,4 2,0 0,-6 -6,0 0,2 0,0 z');
}

#volume{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#vol-percent-bar{
    width: 0px;
    height: 3px;
    position: relative;
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
    transition: all .1s cubic-bezier(0.4,0,1,1);   
}
#volume:hover #vol-percent-bar{
    width: 60px;
    /* transform: scaleX(1); */  
}
#volume:hover #vol-pin{
    width: 13px;
}
#vol-pin{
    position: absolute;
    top: 50%;
    transform: translate(var(--volumePos,0px),-50%);
    background-color: white;
    border-radius: 60px;
    width: 0px;
    height: 13px;
    transition: all 0.01s cubic-bezier(0.4,0,1,1);
}
#vol-bar{
    height: 100%;
    width: 100%;
}
#vol-value{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    background: white;
    transform: scaleX(0.5);
    transform-origin: 0 0;
}
#timer{
    flex-grow: 1;
    padding-left: 10px;
}
#video-controls .svg{
    fill: white;
    width: 48px;
    height: 48px;
    transition: all 0.1s ease-in-out;
}


#progress-bar{
    position: absolute;
    width: calc(100% - 20px);
    bottom: 100%;
    height: 13px;
    margin: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px 0px 0px 0px;
    --bar: #f00;
    --mouseX: 0px;
}
#progress-bar:hover #bar{ 
    height: 6px;
}
#progress-bar:hover #bar-pin{
    transform: translate(calc(var(--currentPos,0px) - 50%)) scale(1);
}
#progress-bar:hover #bar-label{ 
    display: block;
}
#bar{ 
    background-color: rgba(255,255,255,0.4);
    position: relative;
    width: 100%;
    height: 3px;
    transition: all .1s cubic-bezier(0.4,0,1,1),-webkit-transform .1s cubic-bezier(0.4,0,1,1);
}
#bar-value{ 
    background-color: var(--bar);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    transform: scaleX(0.1);
    transform-origin: 0 0;
}
#bar-pin{
    position: absolute;
    top: 0%;
    transform: translate(calc(var(--currentPos,0px) - 50%)) scale(0);
    background-color: var(--bar);
    border-radius: 60px;
    width: 13px;
    height: 13px;
    transition: all .1s cubic-bezier(0.4,0,1,1),-webkit-transform .1s cubic-bezier(0.4,0,1,1);
}
#bar-label{
    display: none;
    position: absolute;
    top: -200%;
    font-weight: 900;
    transform: translateX(var(--mouseX));
}
#bar-hover{
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    transform: scaleX(0.5);
    transform-origin: 0 0;
}
